<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-container>
          
          <v-layout row>
           <v-flex sm4>
             
                <v-text-field 
                v-model='contractNumber' 
                label='Contract Number'
                hint=""
                @keyup.enter="getContractDetails"
                >
              </v-text-field>
           </v-flex>
                  
              <v-flex>
                  <v-btn @click="getContractDetails">Search</v-btn>
            </v-flex>
              </v-layout>
            </v-container>
           
              <v-layout >
              <v-flex>
            
                <v-container v-if='errorMessage'class=" text-xs-center" mb-3>
                    <span class="red--text">Error: {{errorMessage}}</span>
                </v-container>
             
        <v-data-table
        :headers="headers"
        :items="entries"
        class="elevation-1"
      >
        <template v-slot:items="props">
	  <td>{{ props.item.department }}</td>
          <td class="text-xs-center">{{ props.item.revisionType }}</td>
          <td class="text-xs-right"><a>details</a></td>
          <td class="text-xs-right">{{ props.item.authorizedBy }}</td>
          <td class="text-xs-right">{{ props.item.authorizedPosition }}</td>
          <td class="text-xs-right">{{ props.item.currentValue }}</td>
	  <td class="text-xs-right">{{ props.item.deltaValue }}</td>
          <td class="text-xs-right">{{ props.item.account }}</td>
          <td class="text-xs-right">{{ humanReadableDate(props.item.contractStartDate) }}</td>
          <td class="text-xs-right">{{ props.item.contractNumber }}</td>
          <td class="text-xs-right">{{ props.item.contractEndDate }}</td>
          <td class="text-xs-right">{{ props.item.contractManager }}</td>
          <td class="text-xs-right">{{ props.item.acquisitionMethod }}</td>
          <td class="text-xs-right">{{ props.item.acquisitionEvaluation }}</td>
          <td class="text-xs-right">{{ props.item.contractState }}</td>
        </template>
      </v-data-table>
 
    </v-layout>
  </v-flex>
  



      </v-content>
    </v-app>
  </div>
 
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script>
    new Vue({  
    el: '#app', 
    vuetify: new Vuetify(),
    
    data () {
      return {
        contractNumber: "",
        errorMessage: "",
        headers: [
        {text: 'department'},
        {text: 'revisionType'}, 
        {text: 'revisionDescription'},
        {text: 'authorizedBy'},
        {text: 'authorizedPosition'},
        {text: 'currentValue'},
        {text: 'deltaValue'},
        {text: 'account'},
        {text: 'contractStartDate'},
        {text: 'contractNumber'},
        {text: 'contractEndDate'},
        {text: 'contractManager'},
        {text: 'acquisitionMethod'},
        {text: 'acquisitionEvaluation'},
        {text: 'contractState'} 
        ],
        entries: []
      }
    },
	computed: {
	},
    methods: {
	 humanReadableDate(dateString){
                        return new Date(dateString).toDateString()
                },

      getContractDetails: function () {
        axios.get('http://inf-docker-tst:3001/api/contract/' + this.contractNumber)

      .then((response) => { // handle success
        if (response.data.length){
         this.entries = response.data
        }else{
          this.errorMessage =  "No results found"
        }
       
      })
      .catch((error) => {
        // handle error
        this.errorMessage = error.response.statusText 
       
        console.log(error.response)
      })
  },
    }
  })
        
  </script>
</body>
</html>
